=need('home')
-extends "impex.application:templates/main.haml"
-block body
  %div
    %ul
      %li
        elo
      %li
        dwa
      -for obj in data:
        %li
          {{obj.name}} ({{ obj.id }})

  = form.begin()
  = form.text('name')
  = form.text('room')
  = form.submit('elo')
  = form.end()
